.bg-dark {
    background-color: white !important;
    
}
body {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  color: #5a5a5a;
}
     
.navbar
{
  padding: .8rem 1rem !important;
}

@media (min-width: 768px)
.nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}